﻿@model SoftwareSauna.Models.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    @using (@Html.BeginForm("ProcessData", "Home")) {
        @Html.LabelFor(x => x.AsciiMap)
        <br />
        @Html.TextAreaFor(x => x.AsciiMap)
        <br />
        @Html.ValidationMessageFor(x => x.AsciiMap)
        <br />
        <input type="submit" value="Submit" />
    }    
</body>
</html>
