﻿@model SoftwareSauna.Models.ResultsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    @Html.LabelFor(x=> x.AsciiPath)
    <br />
    @Html.DisplayFor(x=> x.AsciiPath)
    <br />
    <br />
    @Html.LabelFor(x=> x.Letters)
    <br />
    @Html.DisplayFor(x=> x.Letters)
</body>
</html>
